
<%if user_signed_in?%>
<%= link_to 'sign out', destroy_user_session_path, method: 'delete'%>
<%else%>
<%= link_to 'sign in', new_user_session_path%>
<%= link_to 'sign up', new_user_registration_path%>
<%end%>


<a href="/new">새 글 쓰기</a><br><br>

<%@posts.each do |post|%>
    <%=post.id%>
    <%=post.title%><br>
    <a href="/show/<%=post.id%>">[보기]</a>
    <br>
    ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
    <br>
    
<%end%>
